gradio
requests
numpy
spacy
yt-dlp
opencv-python
librosa
wikipedia
Pillow
torch
sentence-transformers
langchain
langchain-community
langchain-huggingface
langgraph
faiss-cpu
scikit-learn
accelerate
en_core_web_sm @ https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
transformers==4.40.0
datasets==2.19.0
beautifulsoup4
duckduckgo-search==8.0.0
sentencepiece
nltk
SpeechRecognition
pandas
openai-whisper
openpyxl